.cardContainer {
  width: 438px;
  height: 613px;
  border: 3px solid #d4d3d5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  border-top: 10px solid #0d99ff;
}
.apiCard {
  width: 420px;
  height: 600px;
  border-top: 40px solid #67db7c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.key{
    width: 147px;
   height: 288px;
}
.headerContainer {
  margin-left: 13%;
}
.header {
  font-size: 24px;
  font-weight: 700;
  font-weight: bolder;
}
.subtitle {
  font-size: 20px;
  font-weight: 400;
}
.button {
  height: 54px;
  width: 354px;
  font-size: 20px;
  font-weight: 500;
  background-color: #1b1d3d;
  color: #46eee9;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
