
.cardContainer{
    width: 438px;
    height: 613px;
    border: 3px solid #D4D3D5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    border-top: 10px solid #0d99ff
}
.headerContainer{
 margin-left: 13%;
}
.header{
    font-size: 24px;
    font-weight: 700;
    font-weight: bolder;
}
.subtitle{
    font-size: 20px;
    font-weight: 400;
}
.button{
    height: 54px;
    width: 354px;
    font-size: 20px;
    font-weight: 500;
    background-color: #1B1D3D;
    color: #46EEE9;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}