
.card{
    width: 341px;
    height: 252px;
    font-size: 20px;
    color: #000000;
    background-color: #C4C4C4;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    margin: auto;
    font-weight: 500;
}

